:root {
  --black: #000000;
  --light-gray: #b4becc;
  --dark-green: #354250;
  --light-blue: #e8edf5;
  --dark-gray: #c4cdd9;
  --mild-gray: #717987;
  --white: #ffffff;
  --box-shadow: #ced6e1;
  --lighter-gray: #f7faff;
  --button-color: #00b2ff;
  --orange: #eb4f17;
  --green: #37a892;
  --table-heading: #f4f5f7;
}
