.drawer {
  min-height: 100vh;
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  flex-basis: 20%;
}
.drawer__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3rem;
}
.drawer__item {
  transition: all 250ms ease-in;
  cursor: pointer;
  align-items: center;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--light-gray);
  border-radius: 1rem;
  text-align: left;
  column-gap: 2.5rem;
}
.drawer__item:hover {
  background-color: var(--black);
  color: #ffffff;
  box-shadow: 0 0 0.9rem var(--box-shadow);
}
